<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLiSinhVien_Project3.Properties.Settings._19CT112_01_01ConnectionString"
            connectionString="Data Source=AN-NGUYEN\AN;Initial Catalog=19CT112_01_01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLiSinhVien_Project3.Properties.Settings._19CT112_01_01ConnectionString1"
            connectionString="Data Source=AN-NGUYEN\SQLEXPRESS;Initial Catalog=19CT112_01_01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>